body {
  height: 90vh;
  background-color: #3a4764;
}

main {
  color: white;
  font-family: 'Spartan', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

div {
  border-radius: 10px;
}

.parteDeCima {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.output {
  background-color: #232c43;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 2em;
  font-family: 'Spartan', sans-serif;
  padding: 20px;
}

.linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numero {
  background-color: white;
  color: #444b5a;
  padding: 5%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em !important;
}

.numero:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.parteDeBaixo {
  background-color: #232c43;
  padding: 4%;
}

.reset {
  width: 37%;
  background-color: #637097;
  color: white !important;
}

.igual {
  width: 37%;
  background-color: #d03f2f;
  color: white !important;
}

.del {
  background-color: #637097;
  color: white !important;
}

.stilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  background-color: #232c43;
  border-radius: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
}

.stilos input[type="radio"] {
  position: fixed;
  display: none;
}

.stilos .rdoum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5em;
}

.stilos span:before {
  content: '.';
  color: transparent;
}

.stilos .teste:checked + span:before {
  content: '.';
  color: transparent;
  background-color: #d03f2f;
  border-radius: 100%;
  display: block;
}

.stilos .ops:checked + span:before {
  content: '.';
  color: #00e0d1;
  background-color: #00e0d1;
  border-radius: 100%;
  display: block;
}

.stilos span {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */
